<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타임리프 연습1</title>
</head>
<body>

    <h1>Thymeleaf 연습 1</h1>
    <div>
        상품명 : <span th:text="${item.itemNm}">상품333</span>
    </div>
    <div>
        상품 상세 설명 : <span th:text="${item.itemDetail}">상품333</span>
    </div>
    <div>
        가격 : <span th:text="${item.price}">상품333</span>
    </div>
    <div>
        재고 수량 : <span th:text="${item.stockNumber}">상품333</span>
    </div>
    <div>
        <a th:href="@{/item/thymeleaf2(name='홍길동',age=15)}">thymeleaf2로 이동</a>
    </div>

</body>
</html>